.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.header, .footer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255,255,255,0.25);
  z-index: 10;
}

.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.map_container {
  flex: 1;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.footer {
  bottom:  0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.back_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 28px;
	background: transparent;
	border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.25);
}

.kind_of_sport {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #ff0606;
}

.settings {
  display: flex;
	justify-content: center;
	align-items: center;
}

.btn_group {
  display: flex;
  justify-content: space-between;
}

.container_red_round_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red_round_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0606; 
  color: white; 
  border-radius: 50%; 
  width: 90px; 
  height: 90px;  
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); 
  cursor: pointer;
}


