.map_field {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.header {
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}


.arrow_btn {
  margin-bottom: 14px;
  margin-left: 18px;
}

.icon_header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 28px;
	background-color: #f3f3f3;
	border-radius: 6px;
}

.kind_of_sport {
  font-size: 20px;
  font-weight: 500;
}

.k_o_s {
  margin-bottom: 19px;
}

.settings_icon {
  margin-bottom: 14px;
  margin-right: 18px;
}

.map_container {
  flex: 1; 
}

.footer {
  padding-bottom: 20px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.25);
  display: flex;
  flex-direction: column; 
}

.btn_group {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.container_red_round_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red_round_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red; 
  color: white; 
  border-radius: 50%; 
  width: 100px; 
  height: 100px;  
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); 
  cursor: pointer;
}


