.map_field {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.header {
  height: 106px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.arrow_btn {
  margin-bottom: 14px;
  margin-left: 18px;
}

.kind_of_sport {
  font-size: 20px;
  font-weight: 500;
}

.k_o_s {
  margin-bottom: 19px;
}

.settings_icon {
  margin-bottom: 14px;
  margin-right: 18px;
}

.map_container {
  flex: 1; 
}

.footer {
  height: 189px;
  background-color: #fff;
  display: flex;
  flex-direction: column; 
}

.btn_group {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.container_red_round_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red_round_button {
  background-color: red; 
  color: white; 
  border: none; 
  border-radius: 50%; 
  width: 100px; 
  height: 100px; 
  font-size: 20px; 
  cursor: pointer;
}


