* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}


.text_image {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}
.text_image img {
  height: 398px;
  object-fit: cover;
  image-rendering: optimizeQuality;
}

.form {
  background-color: #fff;
  display: block;
  max-width: 450px;
  text-align: center;
}


.form-title {
  font-size: 17px;
  font-weight: 600;
  color: #000;
}
.input_container{
margin-top: 16px;
}


.input-container input {
  background-color: #000;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 345px;
  border-radius: 10px;
}

.input {
  width: 345px;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 1rem;
  border: 1px solid gray;
}

.submit_auth {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #000;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.25rem;
  font-weight: 500;
  width: 345px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 28px 0 0 0;
  box-sizing: border-box
}

.submit_reg {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: transparent;
  color: #000;
  font-size: 18px;
  line-height: 1.25rem;
  font-weight: 500;
  width: 345px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 8px 0 0 0;
}
.error{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 345px;
  margin-top: 10px;
  color:red
}