* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

main {
  background-color: #fff;
  margin-top: 44px;
}

.header_personal_info {
    display: flex;
    padding: 1px 0px;
    align-items: center;
  }
  
  .header_personal_info div span {
    color: var(--Label-Color-Light-Primary, var(--black, #000));
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.5px;
  }

  .profile_span {
    margin-right: auto;
    margin-left: 20px;
  }
  
  .profile_iсons {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-left: 8px;
  }

  .user_navbar {
    display: flex;
    justify-content: center;
    margin-top: 17px;
  }

  .publications_box:not(:last-child) {
    margin-right: 40px;
  }

  .progress_box:not(:last-child) {
    margin-right: 40px;
  }

  .on_publications .on_progress .on_friend {
    color: var(--black, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .on_publications,
  .on_progress,
  .on_friend {
    color: var(--black, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .off_publications,
  .off_progress,
  .off_friend {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .active_line {
    margin: 12px auto 0px;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: var(--red, #ff0606);
  }

.physcult_market {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img_market {
  width: 350px;
  height: 164px;
  margin-top: 30px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  cursor: pointer;
}

.img_market:hover {
  transform: scale(1.03);
}

.compilations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.inside {
  display: flex;
  width: 343px;
  justify-content: space-between;
  align-items: flex-start;
}

.inside p {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; 
  letter-spacing: -0.5px;
}

.inside .btn {
  width: 48px;
  height: 22px;
  border: none;
  border-radius: 45px;
  background: #EAEAEA;
  cursor: pointer;
}

.compilation_elem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  overflow-y: hidden;
}

.compilation_elem::-webkit-scrollbar {
  display: none;
}

.elem {
  width: 214px;
  height: 155px;
  background: linear-gradient(258deg, #DDD 2.57%, #909090 100%);
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  border-radius: 10px;
  cursor: pointer;
}

.elem:hover {
  transform: scale(1.03);
}

.elem .photo {
  margin-left: 40px;
}

.name_elem {
  display: flex;
  justify-content: space-between;
}

.name_elem p {
  text-align: center;
  font-feature-settings: 'case' on;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: -0.5px;
  color: #000;
  margin-top: 10px;
  margin-left: 5px;
}

.events {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.card {
  display: flex;
  width: 165px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background: rgba( 131, 130, 130, 0.25 );
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}

.card .head {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

.card .secondary {
  color: rgba(0, 0, 0, 0.50);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; 
  letter-spacing: -0.5px;
  margin-left: 8px;
}

.parent {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin-top: 30px;
  gap: 5px; 
}

.child {
  width: 112px;
  height: 168px; 
  background: transparent;
  border-radius: 15px;
  cursor: pointer; 
  margin-bottom: 20px;
}


.child .card_image {
  background: #9A9A9A;
  border-radius: 15px;
}

.child_title {
  margin-top: 10px;
}

.child .head {
  color: #000;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

.child .secondary {
  color: rgba(0, 0, 0, 0.50);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; 
  letter-spacing: -0.5px;
  text-align: start;
}

.imgs {
  margin-left: 10px;
}

.footer {
  width: 100%;
  height: 70px;
  background: transparent;
}