.modal {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9999;
   transition: opacity 0.3s ease; 
 }
 
 .modalContent {
   background: rgba(255,255,255,0.5);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    width: 350px;
    height: 180px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
 }
 
 .closeButton {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
 }

 .title {
   position: absolute;
   top: 10px;
   left: 10px;
   font-size: 22px;
   font-weight: 500;
   color: #000;
 }

 .info {
   position: absolute;
   top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 45px;
   padding: 10px;
   margin: 5px;
   border-top: 1px solid #fff;
 }

 .info_header {
   font-size: 16px;
   font-weight: 500;
   color: rgb(53, 51, 51);
 }
 
 .info_text {
   font-weight: 18px;
   font-weight: 300;
   text-decoration-style: dotted;
   color: #000;
 }
 
 .closing {
   opacity: 0;
 }
  
  .spinner {
    position: absolute;
    top: 50px;
   width: 5px;
   height: 5px;
  }

  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #fff;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
 }
 
 .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
 }
 
 .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
 }
 
 .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
 }
 
 .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
 }
 
 .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
 }
 
 .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
 }
 
 .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
 }
 
 .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
 }
 
 .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
 }
 
 .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
 }
 
 @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
 
    50% {
       transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
 }