.modal {
    display: none;
  }
  
.modal_activ {
    display: block;
    z-index: 999;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(-8%);
    }
    65% {
      transform: translateY(4%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .overlay_r {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.5px);
    opacity: 1;
    transform: translateY(0);
  } 
  
  .modal_content_r {  
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    overflow: auto;
    opacity: 1;
    transform: translateY(0);
    animation: slideUp 1.5s ease;
    padding: 15px;
  }

.header_r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.header_name {
  font-size: 24px;
  font-weight: 700;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}

.title_name {
  font-size: 22px;
  font-weight: 500;
}

.information {
  font-size: 18px;
  font-weight: 300;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }